<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CG Predictor</title>
 
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 
    <link href="https://getbootstrap.com/docs/3.4/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
    <link href="../static/signup.css" rel="stylesheet">
    
  </head>
 
  <body>
 
 
      <div class="jumbotron">
        <h1>CG Predictor</h1>
        <h5>
          {% for e in l %}
             {{e}}<br>
          {% endfor %}
          <br>Expected SG: {{var1}}
          <br>Expected CG: {{value}}
        </h5>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Sanjeev Krishnan :)</p>
      </footer>
 
    </div>
  </body>
</html>